.footer{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link{
        text-decoration: none;
        color: var(--darkerBlue, black);

        &:hover{
            text-decoration: none;
            color: var(--darkerBlue, black);
        }
    }
}

